<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} - microblog</title>
</head>
<body>
    <h1>Hello, {{user.username}}!</h1>
    <form name="addConference" action="" method="post">
    	{{form.hidden_tag() }}
    	<p>
    		会议名称: {{form.name(size=64)}}<br><br>
    	</p>
    	<p>
    		会议时间: {{form.date}}<br><br>
    	</p>
    	<p>
    		会议地点: {{form.place(size=128)}}<br><br>
    	</p>
    	<p>
    		<input type="submit" name="提交">
    	</p>
    </form>
</body>
</html>