{% extends "base.html" %}
{% block content %}
    <p>

        <!-- 会议名称作标题 -->
        <table width="100%">
            <tr align="center">
                <td>
                    <table  width="60%">
                        <thead>
                            <tr>
                                <th><h1>我是名称!</h1></th>
                                <!--会议名称-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% if user %}
                                <td><h4>&bull;海外网5月15日电韩联社15日称，韩国统一部表示，
                                    朝鲜共邀请韩国8名记者参观丰溪里核试验场废弃仪式，包括4名通信社记者和4名电视台记者。
                                    他们将在朝鲜驻华使馆获得签证后，22日从北京乘坐专机，与其他外国记者一道前往朝鲜元山葛麻机场，
                                    并使用元山的宿舍和记者中心。其后，记者们将乘坐列车前往核试验场，结束摄影后再返回元山记者中心。
                                    预计26日或27日从元山葛麻机场乘专机返回。记者的差旅费、通信费等所有费用自行负担。</h4></td>
                                <!--会议简介-->
                                {% endif %}
                            </tr>
                            <tr>
                                {% if user %}
                                <td><h4>&bull;嘉宾介绍：{{user.username}}</h4></td>
                                <!--嘉宾介绍-->
                                {% endif %}
                            </tr>
                            <tr>
                                <td><h4>&bull;会议时间：2018-5-16 15:00:00</h4></td>
                                <!--会议时间-->
                            </tr>
                            <tr>
                                <td><h4>&bull;会议时长：3 小时</h4></td>
                                <!--会议时长-->
                            </tr>
                            <tr>
                                <td><h4>&bull;会议地点：行政办公楼三楼会议室</h4></td>
                                <!--会议地点-->
                            </tr>
                            <tr>
                                <td><h4>&bull;会议状态：已结束</h4></td>
                                <!--会议状态-->
                            </tr>
                            <tr>
                                <td><h4>&bull;参加人员：{{user.username}}</h4></td>
                                <!--参加人员-->
                            </tr>
                            <tr>
                                {% if user %}
                                <td><h4>&bull;备注：我是备注</h4></td>
                                <!--备注信息-->
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>

    </p>

{% endblock %}