{% extends "base.html" %}
{% block content %}
    <br><br>
    <p>
        <!-- 会议名称作标题 -->
        <table class="table table-bordered">
            <thead>
                    <tr style="background-color: whitesmoke" align="center">
                        <th width="70">会议名称</th>
                        <th width="70">会议地点</th>
                        <th width="50">会议开始时间</th>
                        <th width="40">会议时长</th>
                        <th width="40">会议状态</th>
                        <th width="100">会议嘉宾</th>
                        <th width="50">详细内容</th>
                    </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td>html加冕礼</td>
                    <td>行政办公楼三楼会议室</td>
                    <td>2018-5-16 15:30:00</td>
                    <td>3小时</td>
                    <td>待发布</td>
                    <td>姜局，平行宇宙守护者，银河系元老级法师，凹凸曼带盐人，塞博坦星大祭司</td>
                    <td><a href="preview">详细信息</a></td>
                </tr>

            </tbody>
        </table>
    </p>
    <p>

    </p>
{% endblock %}
